#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-1 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-1 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-1 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-1 .mbr-article {
  color: #fff;
}
#msg-box1-1 .mbr-header .mbr-header__text P {
  color: #fac51c;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-10 .mbr-article P {
  color: #ffffff;
}
#msg-box3-4 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-4 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4 .mbr-article P {
  color: #efefef;
}
#msg-box3-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-8 .mbr-article P {
  color: #efefef;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-9 .mbr-article P {
  color: #efefef;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-10 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-10 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-11 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-11 .mbr-article {
  color: #fff;
}
#msg-box1-11 .mbr-header .mbr-header__text P {
  color: #fac51c;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-size: 18px;
  color: #fac51c;
}
#msg-box3-12 .mbr-article P {
  color: #efefef;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#menu-24 .mbr-brand__name {
  font-size: 16px;
}
#menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-24 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-24 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-25 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-25 .mbr-article {
  color: #fff;
}
#msg-box1-25 .mbr-header .mbr-header__text P {
  color: #fac51c;
}
#msg-box3-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-26 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-size: 18px;
  color: #fac51c;
}
#msg-box3-26 .mbr-article P {
  color: #efefef;
}
#msg-box4-34 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#menu-28 .mbr-brand__name {
  font-size: 16px;
}
#menu-28.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-28 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-28 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-29 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-29 .mbr-article {
  color: #fff;
}
#msg-box1-29 .mbr-header .mbr-header__text P {
  color: #fac51c;
}
#msg-box3-30 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-30 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-size: 18px;
  color: #fac51c;
}
#msg-box3-30 .mbr-article P {
  color: #efefef;
}
#msg-box4-37 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-37 .mbr-article {
  color: #ffffff;
}
#menu-32 .mbr-brand__name {
  font-size: 16px;
}
#menu-32.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-32 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-32 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-33 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-33 .mbr-article {
  color: #fff;
}
#msg-box1-33 .mbr-header .mbr-header__text P {
  color: #fac51c;
}
#msg-box3-34 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-34 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-size: 18px;
  color: #fac51c;
}
#msg-box3-34 .mbr-article P {
  color: #efefef;
}
#msg-box4-39 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-39 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-39 .mbr-article {
  color: #ffffff;
}
#msg-box4-40 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-40 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-40 .mbr-article {
  color: #ffffff;
}
#msg-box4-41 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-41 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-41 .mbr-article {
  color: #ffffff;
}
#menu-36 .mbr-brand__name {
  font-size: 16px;
}
#menu-36.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-36 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-36 .mbr-brand__name a {
  font-size: 19px;
}
#msg-box1-37 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-37 .mbr-article {
  color: #fff;
}
#msg-box1-37 .mbr-header .mbr-header__text P {
  color: #fac51c;
}
#msg-box3-38 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-38 .mbr-header .mbr-header__subtext {
  text-align: center;
  font-size: 18px;
  color: #fac51c;
}
#msg-box3-38 .mbr-article P {
  color: #efefef;
}
#msg-box4-42 .mbr-header__text {
  color: #fac51c;
}
#msg-box4-42 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-42 .mbr-article {
  color: #ffffff;
}
#msg-box4-43 .mbr-header__text {
  color: #fac51c;
}
#msg-box4-43 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-43 .mbr-article {
  color: #ffffff;
}
#msg-box4-44 .mbr-header__text {
  color: #fac51c;
}
#msg-box4-44 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-44 .mbr-article {
  color: #ffffff;
}
